// Colors
$ola-tan:              #b0af93;
$ola-light-green:         #a3af80;
$ola-green:         #8F9E6A;
$ola-dark-green:         #5d6344;
$ola-black-green:         #4b4f43;
$ola-lightgray: #c1c1c1;
$ola-gray: #959595;
$ola-darkgray: #3c3c3c;

/*** RESPONSIVE BREAKPOINTS ***/
$mobile: 320px;
$mobile-horizontal: 815px; //required to make some things look okay on horizontal iPhone X's
$tablet: 770px;
$desktop: 1024px; //also, tablet-horizontal
$desktop-wide: 1440px; 