// Colors
$ola-tan:              #b0af93;
$ola-light-green:         #a3af80;
$ola-green:         #8F9E6A;
$ola-dark-green:         #5d6344;
$ola-black-green:         #4b4f43;
$ola-lightgray: #c1c1c1;
$ola-gray: #959595;
$ola-darkgray: #3c3c3c;
$ola-white: #fff;

/*** RESPONSIVE BREAKPOINTS ***/
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px; 
$xxl: 1440px; 

$xs_: 319.99px;
$sm_: 575.99px;
$md_: 767.99px;
$lg_: 991.99px;
$xl_: 1199.99px; 
$xxl_: 1439.99px; 