.btn-0 {
    border: 2px solid $ola-white;
    background-color: transparent;
    color: $ola-white;
    font-weight: 900;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    &:hover {
        color: $ola-black-green;
        background-color: rgba(255,255,255,.4);
        transition: color .3s ease-in-out, background-color .3s ease-in-out;
    }
}

.back-button {
    display: block;
    width: 20px;
    text-decoration: none;
    display: flex;
    transition: transform 0.25s;
    @include ola-padding-0;
    &:hover {
      transform: translateX(-0.25rem);
    }
  
    h1, h2, h3 {
      margin-left: 1.25rem;
      align-self: center;
      color: $ola-white;
    }
  }