#contact {
  min-height: auto;
  background-color: $ola-black-green;
  margin-bottom: -24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  border-radius: 84% 10% 0% 0% / 16% 36% 0% 0%;
  .contact-top {
    margin-top: 80px;
    border-left: 2px solid $ola-white;
    border-bottom: 2px solid $ola-white;
    padding: 16px;
  }
  .contact-mid {
    border-right: 2px solid $ola-white;
    padding: 16px;
    h1, h2, h3, h4, h5, p {
      text-align: right;
    }
  }
  .contact-btm {
    margin: 80px 0;
    .contact-title {
      color: $ola-white;
      text-align: right;
    }
    .contact-msg {
      color: $ola-white;
      text-align: right;
    }
    #ola-form {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: end;
      }
      
      .form-field {
        width: 100%;
        max-width: 25rem;
        margin-right: 3.75rem;
        margin-bottom: 1.25rem;
      
        input {
          display: block;
          width: 100%;
          background: none;
          border: none;
          border-bottom: 1px solid $ola-white;
          color: $ola-white;
          padding-bottom: 0.5rem;
          outline: none;
      
          &::placeholder {
            color: $ola-white;
          }
        }
      
        label {
          display: block;
          margin-top: 0.375rem;
          color: $ola-white;;
        }
      }
      
      #submit {
      }
      
      #message {
        position: absolute;
        height: 3rem;
        bottom: -3rem;
      
        &.error {
          color: red;
        }
      
        &.success {
          color: green;
        }
      }
  }
}


  