
h1 {
  //color: blue;
}

.Homepage {
  //background-color: $ola-light-green;
}

.HomeIntro {
  /*
  background-image: url('../img/home_bg_0.svg');
  background-size: 200%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  */
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  .HomeTitle {
      color: #fff;
      position:absolute;
      top: 35%;
      font-size: 88px;
  }
  
}
/*********Landing**********/
.landing {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: $ola-light-green;
  border-radius: 100% 0% 73% 26% / 0% 0% 9% 8%;
  .landing-title {
      color: $ola-white;
      font-size: 92px;
  }
}

/*********Description**********/
.landing-description {
  height: 50vh;
  background-color: $ola-white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  p {
    margin: 0 80px;
    color: $ola-black-green;
  }
}

/*********Research**********/
.landing-research {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .landing-research-title {
    color: $ola-black-green;
  }
  .landing-research-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 16px;
    margin: 0 40px;
    .landing-research-item {
      .landing-research-item-img{
        height: 240px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
      .landing-research-item-msg {
        margin-top: 24px;
        text-align: center;
        color: $ola-black-green;
      }
    }
  }
}
