@import "./assets/styles/variables";
@import "./assets/styles/fonts";
@import "./assets/styles/home";
@import "./assets/styles/header";


html, body{
  margin:0;
  padding: 0;
}

ul {
  margin-top: 0;
}