
/*****UTILS*****/
@import './utils/Normalize';

@import './utils/Variables';
@import './utils/Fonts';

/*****MIXINS*****/
@import './mixins/Spacing';

/*****Pages*****/
@import './pages/Home'; //also includes styles for #landing-hero
@import './pages/Research';
@import './pages/About';

/*****COMPONENTS*****/
//Header
@import './components/Header';
//Footer
@import './components/Footer';

@import './components/Contact';
@import './components/Buttons';


html, body{
  margin:0;
  padding: 0;
}

ul {
  margin-top: 0;
}

/******************/
/*** Base Styles ***/
/******************/

body {
  //background: $ola-light-green;
  color: $ola-dark-green;
  font-family: sans-serif;
  text-rendering: geometricPrecision;
}
